# Ignore the program binary.
oligo

# Ignore the test binaries.
tests/test_fasta

# Ignore the docs directory.
docs/*

# Ignore the distribution files.
*.tar.gz

# Ignore the build files.
*.la
*.lo
*.o

# Ignore the automake files.
*.log
*.trs
aclocal.m4
autom4te.cache
config
config.status
configure
libtool
m4
Makefile
Makefile.in
.deps
.libs
